.search-button{
    background-color: #07174D;
    border: 1px solid #07174D;
    color: white;
    border-radius: 0px 3px 3px 0px;
    position: relative;
}

.search_bar{
    outline: none;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 3px 0px 0px 3px;
}