.custom_title_primary {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #07174D;
}

.text_primary_highlight {
    color: rgb(236, 115, 115);
}

.text_primary_highlight:hover {
    color: rgb(174, 6, 6);
    cursor: pointer;
    text-decoration: underline;
    transition: ease-in;
    transition-delay: .1s;
}